.process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.process-header {
    padding-top: 2rem;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.process-header img {
    height: 20rem;
    width: auto;
}

.process-header-text {
    text-align: right;
    display: flex;
    flex-direction: column;
}



.process-header-text p {
    font-weight: bold;
    color: #696969;
    font-size: 1.2rem;
    line-height: 28px;
}

.process-cards {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    column-gap: 1rem;
}

.arrow-icon {
    height: 32px;
    width: auto;
    transform: rotate(90deg);
    margin-bottom: 5rem;
}
