.process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.process-header {
    padding-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.process-header img {
    height: 15rem;
    width: auto;
}

.process-header-text {
    text-align: right;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.process-header-text p {
    font-weight: bold;
    color: #696969;
    font-size: 1.2rem;
    line-height: 28px;
}

.process-cards {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    gap: 1rem;
}

.arrow-icon {
    height: 32px;
    width: auto;
    transform: rotate(90deg);
    margin-bottom: 5rem;
}


@media only screen and (max-width: 850px) {
    .process-header img {
        display: none;
    }

    .process-header-text {
        text-align: center;
    }


}

@media only screen and (max-width: 1300px) {
    .process-cards {
        flex-direction: column;
    }
    .arrow-icon {
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        margin-bottom: 0;
    }
}