.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 760px;
    background-color: var(--background-color-secondary);
}

.hero-content {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    text-align: center;
    font-size: 2.6rem;
    max-width: 35rem;
    font-weight: bold;
}

.hero-content h2 {
    font-weight: normal;
}

.hero-scroll-down-icon {
    height: 26px;
    width: auto;
    animation: bounce 2s infinite;
}

.hero-image {
    height: 22rem;
    width: auto;
}

.cloud-1 {
    height: 22rem;
    width: auto;
    position: absolute;
    right: 200px;
    top: 300px;
    animation: float 3s infinite;
    animation-delay: 0.4s;
}

.cloud-2 {
    height: 22rem;
    width: auto;
    position: absolute;
    left: 200px;
    top: 150px;
    animation: float 3s infinite;
}

@media only screen and (max-width: 1400px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content button {
        width: 8rem;
        padding: 0.8rem;
    }

    .hero-image {
        height: 16rem;
        width: auto;
    }

    .cloud-1 {
        height: 18rem;
        width: auto;
        position: absolute;
        right: 70%;
        top: 12%;
    }

    .cloud-2 {
        height: 16rem;
        width: auto;
        position: absolute;
        left: 73%;
        bottom: 40%;
    }
}


@media only screen and (max-width: 800px) {
    .cloud-1 {
        display: none;
    }

    .cloud-2 {
        display: none;
    }

    .hero {
        min-height: 650px;
    }
}
