.section4 {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.section4-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 5em;
    width: 57%;
}

.section4-content img {
    height: 20rem;
    width: auto;
}

.section4-content-text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 60%;
}

.section4-content-text p {
    font-weight: bold;
    color: #6c6c6c;
    font-size: 1.2rem;
}

.section4-content-text h1 {
    font-size: 2.2rem;
}
