header {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.header-full-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header-full-content img {
    width: 5rem;
    height: auto;
}

.header-full-content nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 3.6rem;
    margin-right: 2rem;
}

.navbar-collapsed {
    transition: 100ms ease-in-out;
    padding: 0.5rem;
    width: 100vw;
    background-color: #61ff5a;
}

.navbar-toggle-icon {
    cursor: pointer;
    height: 32px;
}

.navbar-extended {
    transition: 100ms ease-in-out;
    width: 100vw;
    padding: 1rem 0;
}

.navbar-extended-links {
    text-decoration: none;
    color: black;
    padding: 0 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    row-gap: 1rem;
}

.navbar-extended-links p:hover {
    border-bottom: 3px solid var(--primary-color);
}

.navbar-toggle-icon {
    width: 32px;
    height: 32px;
}

.selected {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color);
}

.default-border {
    transition: 100ms ease-in-out;
    border-bottom: 3px solid transparent;
}
