.section-2-card {
    cursor: pointer;
    background-color: white;
    max-width: 14rem;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 1.2rem;
    transition: 400ms ease-in-out;
    border-left: 6px solid var(--primary-color);
}

.section-2-card:focus, .section-2-card:hover {
    transform: translateY(-0.5rem);
}

.section-2-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.8rem;
}

.section-2-card-content-header {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
}

.section-2-card-content-header img {
    height: 26px;
    width: auto;
}

.section-2-card-content-header h1 {
    font-size: 1rem;
}

.section-2-card-content p {
    min-height: 4.7rem;
    color: #6c6c6c;
    font-weight: bold;
    font-size: 1rem;
}