@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro:wght@300&display=swap');

:root {
    --font-primary: Montserrat, sans-serif;
    --font-secondary: Source Sans Pro, sans-serif;

    --background-color-primary: white;
    --background-color-secondary: #eef3ff;
    --primary-color: #6C63FF;
    --gradient-color: linear-gradient(90deg, rgba(99,102,255,1) 33%, rgba(99,139,255,1) 100%);

}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 2.2rem;
}

body {
    background-color: var(--background-color-primary);
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

p, ul, ol, dl, th, td, input, textarea, a, b {
    font-family: var(--font-secondary);
}

blue {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-primary)
}

*:visited {
    text-decoration: none;
    color: initial;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-5px);}
    60% {transform: translateY(-10px);}
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0); }
}